<!DOCTYPE html>
<html>

<head>
    <title>Newegg Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="title-bar">
        <h1>Newegg.ca Product Search</h1>
    </div>

    <form method="POST">
        <label for="search_query">Product Name / Keyword</label>
        <input type="text" id="search_query" name="search_query">
        <button class="search-btn" type="submit">Search</button>
    </form>
    {% if search_results %}
    <h2 class="results-for">Search Results for "{{ search_results_keyword }}" [Cheap to Expensive]</h2>
    <ul>
        {% for item in search_results %}
        <li>
            <h3>{{ item.name }}</h3>
            <p>${{ item.price }}</p>
            <a href="{{ item.link }}">Link</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>